html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.odd {
	background-color: #cfc;
}

.even {
	background-color: azure;
}

#labels {
  position: relative;
  top: -380px;
  z-index: -1;
}

#labels > div {
  display: flex;
  height: 60px;
  padding-left: 20px;
}

#labels > div > span {
  align-self: center;
}

ion-segment[name="climate"] ion-segment-button {
  min-width: 50px;
}
